<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>
  <body>
    <h1>Nutanix Todo Manager</h1>  
    <hr /> <br />

    <form method="POST" action="/">
      <table> <tr>
          <td><h4>Add Todo Item</h4> </td>
          <td> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</td> 
          <td> </td> 
          <td> <input type="text" name="title">  </td> <td> </td> 
          <td><input type="submit" value="Add"> </td></tr>
      </table>
    </form>
    <hr /> <br />

    <h2>Todo List</h2>
    <table>
      {% for task in tasks %}
        <tr>
          <td>
            {{task.title}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{task.title}}" name="oldtitle">
              <input type="text" value="{{task.title}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{task.title}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
